.box {
  .forum {
    .comment {
      span,p{
        margin-left: 0.5em;
      }
      display: flex;
      font-size: 1em;
      .icon {
        width: 5em;
        height: 5em;
        margin: auto;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: aqua;
      }
      .body{
        font-size: 1.1em;
      }
      .child {
        display: flex;
        font-size: 0.8em;
        flex-direction: row;
        align-items: center;
        margin: 1em 0;

        .icon {
          width: 3em;
          height: 3em;
          margin: auto;
          border-radius: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: aqua;
        }
        .body{
          font-size: 1em;
        }
      }
    }
  }
}
