.articleBox {
  //文章列表
  .articles {
    .article {
      width: 100%;
      margin: 0.5em 0;
      display: flex;
      flex-direction: initial;
      justify-content: space-around;
      transition: 1s;

      .left {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        border-radius: 0.2em;
        cursor: pointer;
      }

      .right {
        padding-left: 0.5em;

        .title {
          font-size: 1.5em;
        }

        .synopsis {
          margin: 0.5em 0;
          span {
            display: block;
            max-height: 65px;
            overflow: hidden;
            word-wrap: break-word;
            text-align: justify;
            text-indent: 2em;
          }
        }

        .label {
          .el-col {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
          }
          .classify {
            margin: 0 0.5em;
          }
          .tags {
            margin: 0 0.5em;
          }
        }
      }
    }
    .article:hover {
      transform: scale(1.1);
      background: url(../../assets/img/backgroud/backgroud-index.png);
      z-index: 9;
    }
  }

  //分页栏
  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .el-input__wrapper {
      background-color: rgba(0, 0, 0, 0);
      --el-select-input-focus-border-color: #3fc4c2;
      --el-input-focus-border-color: #3fc4c2;
    }
    button {
      background-color: rgba(0, 0, 0, 0);
      --el-pagination-hover-color: #3fc4c2;
    }
    button:disabled {
      background-color: rgba(0, 0, 0, 0);
      --el-pagination-hover-color: #3fc4c2;
    }
    ul {
      li {
        background-color: rgba(0, 0, 0, 0);
        --el-pagination-hover-color: #3fc4c2;
        --el-color-primary: #3fc4c2;
      }
    }
  }
}

body {
  //分页栏下属页数大小栏
  .el-popper.is-light {
    background-color: rgba(240, 240, 240, 0.5);

    .hover {
      background-color: rgba(185, 185, 185, 0.563);
    }
  }
  .el-scrollbar__wrap{
    ul{
      .selected{
        color:#3fc4c2;
      }
    }
  }
  .el-popper__arrow::before {
    background-color: rgba(0, 0, 0, 0.402) !important;
    border-radius: 100% !important;
    box-shadow: var(--el-box-shadow-light) !important;
  }
}
