.articleBox {
  //文章列表
  .articles {
    margin: 0.5em 0;
    .article {
      width: 100%;
      margin: 0.2em 0;
      display: flex;
      flex-direction: initial;
      justify-content: space-around;
      transition: 1s;

      .left {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .icon {
          cursor: pointer;
          max-width: 12em;
          width: 100%;
          height: 10em;
        }
      }

      .right {
        padding-left: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        .title {
          font-size: 1.5em;
          .lock {
            font-size: 0.6em;
          }
        }

        .synopsis {
          margin: 0.5em 0;
          span {
            display: block;
            max-height: 65px;
            overflow: hidden;
            word-wrap: break-word;
            text-align: justify;
            text-indent: 2em;
          }
        }

        .label {
          .el-col {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
          }
          .classify {
            margin: 0 0.5em;
          }
          .tags {
            margin: 0 0.5em;
          }
        }
      }
    }
    .article:hover {
      transform: scale(1.1);
      background: url(../../assets/img/backgroud/backgroud-index.png);
      z-index: 9;
    }
  }

  //分页栏
  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      background-color: transparent;
      --el-pagination-hover-color: #3fc4c2;
    }
    button:disabled {
      background-color: transparent;
      --el-pagination-hover-color: #3fc4c2;
    }
    ul {
      li {
        background-color: transparent;
        --el-pagination-hover-color: #3fc4c2;
        --el-color-primary: #3fc4c2;
      }
    }
  }
}
