.indexBox {
  .container {
    min-height: 95vh;
    background: url(../../assets/img/backgroud/backgroud-index.png);

    //公告栏
    .inform {
      p {
        margin-right: 1em;
      }
    }
    //用户
    .author {
      display: flex;
      flex-direction: column;
      align-items: center;
      .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    //日历
    .calender {
      margin: 0.5em 0;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    //标签云
    .tagCloud {
      margin: 0.5em 0;
      display: flex;
      flex-direction: column;
      span {
        margin: auto;
      }
      .cloudBox {
        min-width: 10em;
        min-height: 20em;
      }
    }
    //分类云
    .classifyCloud {
      margin: 0.5em 0;
      display: flex;
      flex-direction: column;
      span {
        margin: auto;
      }
      .cloudBox {
        min-width: 10em;
        min-height: 20em;
      }
    }
  }
}

.effectsBox {
  position: fixed;
  top: 50%;
  right: 0;
  span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
    svg{
      transition: 1s;
    }
  }
  span:hover {
    color: black;
  }
  .on {
    svg {
      transform: rotate(180deg);
    }
  }
  .off {
    svg {
      transform: rotate(360deg);
    }
  }
}
