.box {
  .container {
    background: url(../../assets/img/backgroud/backgroud-index.png);

    //公告栏
    .inform {
      //展示
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      margin-top: 1vh;

      p {
        margin-right: 1em;
      }
    }
    //用户
    .user {
      margin-bottom: 0.5em;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: space-around;
      justify-content: space-around;

      .icon {
        width: 15em;
        height: 15em;
        margin: 0.5em auto;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    //日历
    .calender {
      margin: 0.5em 0;
      padding-top: 1em;
      padding-bottom: 1em;

      #calender-body {
        border-radius: 0.5em;
        background-color: rgba(225, 199, 55, 0);
        --el-calendar-selected-bg-color: rgba(74, 74, 74, 0.3);

        .el-button {
          --el-button-bg-color: rgba(0, 0, 0, 0);
          --el-button-hover-bg-color: rgba(0, 0, 0, 0);
          --el-button-hover-border-color: rgb(63, 196, 194);
          --el-button-hover-text-color: rgb(63, 196, 194);
        }

        .el-calendar-day {
          --el-calendar-cell-width: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
        .el-calendar-day:hover {
          color: #ffffff;
        }
        .is-selected {
          color: #ffffff !important;
        }
        .is-today {
          color: rgb(63, 196, 194);
        }
      }
    }

    //标签云
    .tagCloud {
      margin: 0.5em 0;
      span {
        margin: auto;
      }
    }
    //分类云
    .classifyCloud {
      margin: 0.5em 0;
      span {
        margin: auto;
      }
    }
  }
}
