.writeBox {
  .container {
    min-height: 95vh;
    background: url(../../assets/img/backgroud/backgroud-index.png);
    .from {
      margin-bottom: 0.5em;
      .icon{
        width: 10em;
        height: 5em;
        cursor: pointer;
      }
      .button {
        width: 100%;
        text-align: right;
        font-size: var(--el-form-label-font-size);
        color: var(--el-text-color-regular);
      }
      .save {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
      }
    }
    .mdEditor {
      width: 100%;
      .md {
        height: 30em;
      }
    }
  }
}
