* {
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(84, 92, 100);
    border-radius: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 10px; // 轨道圆角
    background-color: rgb(150, 150, 150); // 轨道颜色
  }
}

body {
  margin: 0px;
  width: 100%;
  background-color: bisque;
  z-index: -999;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: seagreen;
  z-index: -999;
}
