* {
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(84, 92, 100);
    border-radius: 2px;
  }
  *::-webkit-scrollbar-track {
    background-color: rgb(150, 150, 150);
  }
}

body {
  margin: 0px;
  width: 100%;
  background-color: bisque;
  z-index: -999;

  .is-link:hover {
    color: #3fc4c2 !important;
  }

  .rotate {
    svg {
      transition: 0.5s;
    }
  }
  .rotate:hover {
    svg {
      transform: rotate(180deg);
    }
  }

  .click {
    position: relative;
    cursor: pointer;
  }
  .click::before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #3fc4c2;
    transition: 0.5s;
  }
  .click:hover::before {
    width: 100%;
  }
  .header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1vh;
  }
  .center {
    text-align: center;
  }
  //选择器
  .el-popper {
    background-color: rgba(240, 240, 240, 1);

    .hover {
      background-color: rgba(185, 185, 185, 1);
    }

    .el-picker-panel__body {
      --el-datepicker-hover-text-color: #3fc4c2;
      --el-datepicker-active-color: #3fc4c2;
    }
  }
  .el-radio-group {
    .el-radio__input.is-checked .el-radio__inner {
      border-color: #3fc4c2;
      background: #3fc4c2;
    }
    .el-radio__inner:hover {
      border-color: #3fc4c2;
    }
    .el-radio__input.is-checked + .el-radio__label {
      color: var(--el-radio-text-color);
    }
  }
  .el-dialog {
    width: 20em !important;
    display: flex;
    border-radius: 1em !important;
    flex-direction: column;
    .close {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 1.2em;
      }
      .click {
        border: none;
        font-size: 1.1em;
      }
    }
    .el-row {
      width: 100%;
      .button {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
      }
    }
    .el-select {
      width: 100%;
    }
    .el-input {
      --el-select-input-focus-border-color: #3fc4c2;
      .el-input__wrapper {
        border: none;
      }
      .is-focus {
        box-shadow: 0 0 0 1px #3fc4c2 inset !important;
      }
    }
    .el-textarea__inner {
      --el-input-focus-border-color: #3fc4c2;
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .el-scrollbar__wrap {
    ul {
      .selected {
        color: #3fc4c2;
      }
    }
  }
  .el-popper__arrow::before {
    background-color: rgba(0, 0, 0, 0.402) !important;
    border-radius: 100% !important;
    box-shadow: var(--el-box-shadow-light) !important;
  }
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: seagreen;
  z-index: -999;
}
#app {
  min-width: 1080px;
}
