* {
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(84, 92, 100);
    border-radius: 2px;
  }
  *::-webkit-scrollbar-track {
    background-color: rgb(150, 150, 150);
  }
}

body {
  margin: 0px;
  width: 100%;
  background-color: bisque;
  z-index: -999;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: seagreen;
  z-index: -999;
}

.i-icon{
  svg{
    margin-bottom: -4px;
  }
}
#app{
  min-width: 1080px;
}

.click{
  cursor: pointer;
}
.click:hover{
  border-bottom: solid 1px black;
}