.click {
  position: relative;
  cursor: pointer;
}
.click::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: rgba(15, 118, 162, 0.991);
  transition: 0.5s;
}
.click:hover::before {
  width: 100%;
}