.md-editor {
  --md-bk-color: rgb(233, 233, 233);
  --md-bk-color-outstand: rgb(233, 233, 233);
  --md-bk-hover-color: rgba(0, 0, 0, 0.2);
  background: url(../../assets/img/backgroud/backgroud-index.png);
  .md-preview-wrapper {
    padding: 0 0.5em;
  }
}