.box {
  #content_shade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
  }
  .container {
    min-height: 95vh;
    background: url(../../assets/img/backgroud/backgroud-index.png);

    .content {
      //展示
      padding: 1em;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .title {
        width: 100%;
        font-size: 2.5em;
        font-weight: 500;
      }
      .signature {
        width: 100%;
        margin-top: 0.5em;
        font-size: 1em;
      }
      .info {
        position: relative;
        width: 100%;
        .md {
          background-color: rgba(0, 0, 0, 0);
        }
      }
      .author {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .icon {
          width: 10em;
          height: 10em;
          margin: 0.5em 0;
          border-radius: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: aqua;
        }
        span {
          padding: 0 1em;
        }
      }
    }

    .nominate {
      li {
        span {
          cursor: pointer;
        }

        span:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
  .el-divider__text {
    background-color: rgba(0, 0, 0, 0);
  }
}
