#screen_container {
  position: absolute;
  display: flex;
  height: 80vh;
  width: 100%;
  z-index: -1;
  background: url(../../assets/img/backgroud/backgroud-index-2.jpg) bottom no-repeat scroll;
  background-size: cover;
}
#screen_shade{
  position: relative;
  display: flex;
  height: 80vh;
  width: 100%;
}

