.homepageBox {
  .container {
    min-height: 95vh;
    background: url(../../assets/img/backgroud/backgroud-index.png);
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;

    .top {
      width: 100%;
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      .information {
        margin-top: 1em;
      }
      .nickname {
        .el-input {
          width: 50%;
        }
      }
      .birthday {
        .el-input {
          width: 50%;
        }
      }
      .sex {
        
      }
      .intro {
        .el-textarea__inner {
          --el-input-focus-border-color: #3fc4c2;
          background-color: rgba(0, 0, 0, 0);
        }
      }
      .button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    .bottom {
      width: 100%;
      .myFavorite {
        --el-collapse-header-bg-color: rgba(0, 0, 0, 0);
        --el-collapse-content-bg-color: rgba(0, 0, 0, 0);
        .option {
          text-align: right;
          span {
            margin: 0 1em;
          }
        }
        .collection {
          margin-bottom: 1em;
        }
      }
    }
    .el-input {
      --el-disabled-bg-color: rgba(0, 0, 0, 0);
      // 输入框
      .el-input__wrapper {
        padding: 0.1em 0;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        font-size: 1em;
      }
      // 输入框底部动画
      .el-input__wrapper::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: rgba(15, 118, 162, 0.991);
        transition: 1s;
      }
      // 输入框底部动画
      .el-input__wrapper:hover::before {
        width: 100%;
      }

      // 表单清空按钮
      .el-input__suffix {
        .el-input__suffix-inner {
          .el-icon,
          .el-input__icon,
          .el-input__clear {
            font-size: 1em;
          }
        }
      }
    }
  }
}
